data/train2014
data/val2014
data/train2014_descriptive_texts.json
data/val2014_descriptive_texts.json
wandb/
models/*
!models/phi3-mini-VD/checkpoint-20000
!models/llava-v1.6-vicuna-7b-VD/checkpoint-12000